[defaults]
hostfile = hosts
stdout_callback = json

[ssh_connection]
ssh_args = -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -o IdentitiesOnly=yes -o ControlMaster=auto -o ControlPersist=60s
#control_path = /home/some_user_name/.ansible/cp/ansible-ssh-%%h-%%p-%%r
